/*.user_page {
    background-color: gray;
    width: 100%;
}

.user_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.user_card {
    width: 500px;
    height: 300px;
    background-color: white;
    margin: 20px;
    padding: 40px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.user_data {
    color: black;
    font-size: 20px;   
    font-weight: bold; 
}

.user_form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;   
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border-color: black;
    border-width: 3px;
}

.user_card_delete_button {
    color: white;
    background-color: red;
    padding: 10px 30px;
    border-width: 3px;
    cursor: pointer;
    border-radius: 5px;
}

.user_card_delete_button:hover {
    color: red;
    background-color: white;
    border-width: 3px;
    border-color: red;
}*/


/* mklite_frontend/app/user/user.module.css */

/* Define un borde doble o complejo usando box-shadow, 
   que es más fácil de mantener aquí que en clases de Tailwind */
.authContainerBorder {
    box-shadow: 
        0 0 0 4px #E60023, /* Borde interior rojo (Rojo Coca-Cola) */
        0 0 0 8px #ffffff; /* Borde exterior blanco */
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

/* Podemos definir un estilo de input especial que sea más que un simple 'border' */
.customInputFocus:focus {
    border-color: #E60023 !important; /* Enfocamos el borde con el Rojo Coca-Cola */
    box-shadow: 0 0 0 1px #E60023;
}